*{
    box-sizing:border-box;
}
.box{
    border:5px;
    border-style:solid;
    border-color:pink;
    height:100px;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    background-color:beige;
}
.inner-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:40vw;
    border-style:solid;
    margin:20px;
    height:80vh;
    border-color:grey;


}
.project-container{
    display:flex;
    flex-direction:row;
    justify-content:center;

}
.reset-button{
    background-color:grey;
    color:pink;
    font-size:25px;
    border-radius:2px;
    border:none;
    text-align:center;  
}
.button-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.box-style{
    border-color:aquamarine;
}
.message{
    font-family:"Roboto";
    color:grey;
    font-size:25px;
}
